
body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.box {
    width: 400px;
    height: 300px;
}

img {
    width: 100%;
}